extends ../layout

block content
  .page-header
    h3 Edit profile
  form.form-horizontal(id='signup-form', method='POST', action='/api/user/update')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-3.control-label(for='firstname') First Name
      .col-sm-7
        input.form-control(type='text', name='firstname', id='firstname')
    .form-group
      label.col-sm-3.control-label(for='lastname') Last Name
      .col-sm-7
        input.form-control(type='text', name='lastname', id='lastname')
    .form-group
      label.col-sm-3.control-label(for='birthdate') Birthdate
      .col-sm-7
        .nativeDatePicker
          input.form-control(type='date', name='birthdate', id='birthdate')
        .fallbackDatePicker
          span
            label(for="day")
            select(id="day", name="day")
          span
            label(for="month")
            select(id="month", namr="month")
              option(selected) January
              option February
              option March
              option April
              option May
              option June
              option July
              option August
              option September
              option October
              option November
              option December
          span
            label(for="year")
            select(id="year", name="year")
    .form-group
      label.col-sm-3.control-label(for='email') E-mail
      .col-sm-7
        input.form-control(type='email', name='email', id='email')
    .form-group
      label.col-sm-3.control-label(for='password') Password
      .col-sm-7
        input.form-control(type='password', name='password', id='password', placeholder='Password')
    .form-group
      label.col-sm-3.control-label(for='confirmPassword') Confirm Password
      .col-sm-7
        input.form-control(type='password', name='confirmPassword', id='confirmPassword', placeholder='Confirm Password')
    .form-group
      .col-sm-offset-3.col-sm-7
        button.btn.btn-success(type='submit')
          i.fa.fa-edit
          | Edit
        button.btn.btn-danger(type='submit' actionform="/api/user/delete")
          i.fa.fa-trash
          | Delete account
  script(src="/js/datepicker.js")
  script.
    document.getElementById("firstname").value = "#{user.firstname}";
    document.getElementById("lastname").value = "#{user.lastname}";
    document.getElementById("birthdate").value = new Date("#{user.birthdate}").toISOString().substring(0,10);
    document.getElementById("email").value = "#{user.email}";
    
