include ../../../../../pug/flex
mat-progress-bar.page-load(*ngIf='loading' mode='indeterminate')
.title
    +flex
        i.fas.fa-home.fa-3x
    h1(*ngIf='room') {{ room.title }}
ng-container(*ngIf='way')
    .title
        +flex
            i.fas.fa-allergies.fa-2x([style.color]='way.color')
        h2 {{ way.name }}
    +flex
        button((click)='free()' mat-raised-button)
            i.fas.fa-lock.fa-2x(*ngIf='!way.free')
            i.fas.fa-unlock.fa-2x(*ngIf='way.free')
    .title
        +flex
            h3 Grips
    .container-fluid: .row
        .col-lg-2.col-md-4.col-sm-6(*ngFor='let grip of way.grips'): mat-card: mat-card-content
            +flex
                i.fas.fa-hand-rock.fa-3x(*ngIf='grip.on' '[style.color]'='way.color')
                i.fas.fa-hand-rock.fa-3x(*ngIf='!grip.on')
            h1 N° {{ grip.id }}
            p Data: {{ grip.data }}
            +flex
                i.fas.fa-toggle-on.fa-2x(*ngIf='grip.on')
                i.fas.fa-toggle-off.fa-2x(*ngIf='!grip.on')
        .col-lg-2.col-md-4.col-sm-6(*ngIf="admin"): mat-card: mat-card-content
            +flex
                i.fas.fa-hand-rock.fa-3x
            h1 New
            form('(submit)'='onSubmit()' '[formGroup]'='wayFormGroup')
                mat-form-field(appearance='outline')
                    mat-label Data
                    input(
                        type='number'
                        matInput
                        placeholder=''
                        name='data'
                        formControlName='dataCtrl'
                        required
                    )
                    i.fas.fa-key.fa-2x(matSuffix)
                    mat-error(
                        *ngIf="wayFormGroup.controls['dataCtrl'].hasError('required')"
                    ) You must enter data
                +flex
                button(type='submit' mat-stroked-button color='primary') Create
ng-container(*ngIf='way')
    .title
        +flex
            h3 Stats
    .container-fluid: .row
        .col-lg-2.col-md-4.col-sm-6: mat-card: mat-card-content
            +flex
                i.fas.fa-chart-line.fa-3x
            h1 {{ way.best.firstname }} {{ way.best.lastname }}
            p Best : {{ way.best.time }}
            p Average : {{ way.average }}
